<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Gender Checker</title>
</head>
<body>
    <div class="top">
        <h1>Name Gender Checker</h1>
    <img src={{image_link}} alt="">
    <h2>{{username}} is {{guessed_gender}}'s name.</h2>
    </div>
    <footer>
         <p>&copy; {{current_year}} Made with 💖 by Noor </p>
    </footer>
</body>
</html>